Sop {
  dk.lisberg.infokey.security.login.UsageLogModule requisite
      system="SOPSelfService"
      tryFirstPass=true
      clearPass=true
      storePass=true;

  dk.lisberg.infokey.security.login.UserPasswordLoginModule requisite
      system="SOPSelfService"
      tryFirstPass=true
      clearPass=true
      storePass=true;

  dk.lisberg.infokey.security.login.DummyLoginModule sufficient
      debug=true
      system="SOPSelfService"
      tryFirstPass=true
      storePass=true
      clearPass=true
      password="Voldemort";
};

SopAuto {
  dk.lisberg.infokey.security.login.UsageLogModule requisite
      system="SOPSelfService"
      tryFirstPass=true
      clearPass=true
      storePass=true;

  dk.lisberg.infokey.security.login.AutoLoginModule requisite
      system="SOPSelfService"
      tryFirstPass=true
      storePass=true
      clearPass=true
      defaultAutoLogin=true;
};
HR {
  dk.lisberg.infokey.security.login.UsageLogModule requisite
      debug=true
      system="HRSelfService"
      tryFirstPass=true
      clearPass=true
      storePass=true;

  dk.lisberg.infokey.security.login.UserPasswordLoginModule requisite
      debug=true
      system="HRSelfService"
      tryFirstPass=true
      clearPass=true
      storePass=true;

  dk.lisberg.infokey.security.login.DummyLoginModule sufficient
      debug=true
      system="HRSelfService"
      tryFirstPass=true
      storePass=true
      clearPass=true
      password="Voldemort";
};

HRAuto {
  dk.lisberg.infokey.security.login.UsageLogModule requisite
      system="HRSelfService"
      tryFirstPass=true
      clearPass=true
      storePass=true;

  dk.lisberg.infokey.security.login.AutoLoginModule requisite
      system="HRSelfService"
      tryFirstPass=true
      storePass=true
      clearPass=true
      defaultAutoLogin=true;
};
